<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css" type="text/css">
    <title>jacaré flix</title>
    <link rel="shortcut icon" href="https://i.imgur.com/tAZw3FE.png">
</head>
<body>
    <div id="tudo">
    <%- include('./partials/header.ejs') %>  

    <main>
    <% FILMES.forEach(element => { %>
     
        <a href="/details/<%= element.id %> ">

        <div class="container"> 


            <div class="container-text">
                
                <span> <%= element.nome %>  </span>
                
            </div>



            <div class="container-img">
            
                <img id='foto' src="<%= element.img %> " alt="<%= element.nome %> " >
            
            </div>
            
            
        </a>

        <a href="/deletar/<%= element.id %> ">

<button type="button" class="btn-delet">apagar</button>
</a>

<a href="/editar/<%= element.id %> ">
<button type="button" class="btn-editar">editar</button>
</a>
</div>

    <% }) %>

</div>
    


</main>
</body>
</html>